@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>MVC Test</h1>
    <p class="lead">Nowy projekt aplikacji MVC.</p>
    <p><a href="https://github.com/luki00/MVC_test" class="btn btn-primary btn-lg">GITHUB &raquo;</a></p>
</div>

